.comments-container {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding: 10vw;
}

.comments-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

#comments-list {
  margin-top: 20px;
}

.comment {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.comment-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.comment-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment-body {
  flex: 1;
  width: 100%;
}

.comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.comment-username {
  font-weight: bold;
  margin-right: 5px;
}

.comment-timestamp {
  font-size: 12px;
  color: #888;
}

.comment-text {
  margin-top: 5px;
  white-space: pre-wrap;
}

#comment-form {
  margin-top: 20px;
  display: flex;
  float: top;
  width: 100%;
}

#comment-input {
  flex: 1;
  resize: none;
  border: 1px solid rgb(170, 168, 168);
  border-radius: 3px;
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
}

#comment-input:focus {
  outline: none;
  box-shadow: 0 0 3px 2px #add8e6;
}

#comment-form button {
  border: none;
  background-color: #065fd4;
  color: #fff;
  padding: 8px 15px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#comment-form button:hover {
  background-color: #0a78ff;
}


.comment-reply {
  font-size: 12px;
  color: gray;
  cursor: pointer;
  margin-right: 10px;
  padding: 3px 20px;
}

.comment-reply-form {
  margin-left: 46px;
  margin-bottom: 10px;
}

.comment-reply-form input[type="text"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 3px;
  margin-bottom: 5px;
}

.comment-reply-form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.comment-reply-form button[type="submit"]:hover {
  background-color: #45a049;
}

.comments-footer {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.comments-footer input[type="text"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 3px;
  margin-right: 10px;
}

.comments-footer button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.comments-footer button[type="submit"]:hover {
  background-color: #45a049;
}

.comment-like {
  font-size: 12px;
  color: gray;
  cursor: pointer;
  margin-right: 10px;
}

/* Like button styles */
.comment-like-button {
  display: inline-block;
  padding: 5px 100px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #ff0000;
  border-radius: 5px;
}

.comment-like-button:hover {
  background-color: #555;
  cursor: pointer;
}
